.explore_items {
  width: 100%;
    padding: 6px 0px;

    .search_menu {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 10px;

      input {
        width: 85%;
        padding: 10px;
        padding-left: 25px;
        background-color: rgba(255, 255, 255, 0.137);
        border-radius: 50px;
        color: var(--text-color);
      }

      input:focus {
        outline: none;
        border: 1px solid var(--twitter-blue);
        background-color: var(--bg-color);
      }

      img {
        width: 30px;
        height: 30px;
      }

      img:hover {
        background-color: var(--border-stroke);
        border-radius: 50%;
      }
    }

    .content_trend {
      color: var(--text-color);
      padding-top: 18px;
      padding-bottom: 18px;
      border-bottom: 1px solid var(--border-stroke);

      h2 {
        font-size: 1.25em;
        font-weight: bolder;
        padding-bottom: 18px;
        padding-left: 15px;
      }

      .trends {
        padding: 7px;
        padding-left: 15px;
        font-family: "Roboto", sans-serif;

        p {
          font-size: 12px;
          color: var(--border-stroke);
          font-weight: lighter;
        }

        h3 {
          font-weight: bold;
          letter-spacing: 1.5px;
          font-size: 14px;
          padding: 3px 0;
        }
      }

      .trends:hover {
        background-color: rgba(255, 255, 255, 0.041);
      }
    }
  }