<div class="explore_items">
    <!-- SEARCH AREA -->
    <div class="search_menu">
        <input type="search" [enterKeyHint]="darkmode" placeholder="Search twitter" />
        <img title="settings" src="https://img.icons8.com/sf-regular/58/FFFFFF/settings.png" />
    </div>

    <!-- TRENDS FOR YOU AREA -->
    <div class="content">
        <h2>Trends for you</h2>

        <div class="trends">
            <p>Trends in Nigeria</p>
            <h3>Brother Benard</h3>
            <p>17.4k Tweets</p>
        </div>
        <div class="trends">
            <p>Trends in Nigeria</p>
            <h3>Deborah</h3>
            <p>50k Tweets</p>
        </div>
        <div class="trends">
            <p>Trends in Nigeria</p>
            <h3>Pelumi</h3>
            <p>24k Tweets</p>
        </div>
        <div class="trends">
            <p>Trends in Nigeria</p>
            <h3>IT IS MY TIME AND MY TURN</h3>
            <p>2,944k Tweets</p>
        </div>
        <div class="trends">
            <p>Trends in Nigeria</p>
            <h3>IT IS MY TIME AND MY TURN</h3>
            <p>2,944k Tweets</p>
        </div>
        <div class="trends">
            <p>Trends in Nigeria</p>
            <h3>IT IS MY TIME AND MY TURN</h3>
            <p>2,944k Tweets</p>
        </div>
        <div class="trends">
            <p>Trends in Nigeria</p>
            <h3>IT IS MY TIME AND MY TURN</h3>
            <p>2,944k Tweets</p>
        </div>
        <div class="trends">
            <p>Trends in Nigeria</p>
            <h3>IT IS MY TIME AND MY TURN</h3>
            <p>2,944k Tweets</p>
        </div>
        <div class="trends">
            <p>Trends in Nigeria</p>
            <h3>IT IS MY TIME AND MY TURN</h3>
            <p>2,945k Tweets</p>
        </div>
    </div>
</div>