<div class="logout">

    <div class="log_out_background">

        <div class="left-section">
            <!-- Content for the left section -->
            <img src="../../../assets/icons/twitter.png" alt="" />

        </div>

        <div class="right-section">
            <!-- Content for the right section -->
            <div class="items">
                <h1>Happening now</h1>

                <h3>Join today.</h3>


                <div class="buttons">
                    <a class="flex justify-between">
                        <p class="pl-[10px]">Sign in as</p>
                        <img src="https://img.icons8.com/fluency/24/null/google-logo.png" />
                    </a>
                    <a class="justify-center"><img src="https://img.icons8.com/material-rounded/24/null/mac-os.png" />
                        Sign up with Apple</a>

                    <div class="or-section">
                        <hr class="or-line">
                        <span class="or-text">or</span>
                        <hr class="or-line">
                    </div>

                    <a class="justify-center text-purple">Create account</a>
                </div>
                <p class="text-[14px]">
                    By signing up, you agree to the <a>Terms of Service</a> and
                    <a>Privacy Policy</a>, including <a>Cookie Use</a>.
                </p>

                <div class="have_account">

                    <h3>Already have an account?</h3>

                    <a class="justify-center text-purple" (click)="openDialog()">Sign in</a>
                </div>

            </div>
        </div>

    </div>

    <footer class="footer">
        <div class="footer-links">
            <a href="">About</a>
            <a href="">Download the app</a>
            <a href="">help Center</a>
            <a href="">Terms of Service</a>
            <a href="">Privacy policy</a>
            <a href="">cookie policy</a>
            <a href="">Accessiblity</a>
            <a href="">Ads info</a>
            <a href="">Blogs</a>
            <a href="">Status</a>
            <a href="">Careers</a>
            <a href="">Brand Resources</a>
            <a href="">Advertising</a>
            <a href="">Marketing</a>
            <a href="">Twitter for business</a>
            <a href="">Developers</a>
            <a href="">Directory</a>
            <a href="">Settings</a>

            <a>© 2024 X Corp.</a>

        </div>

    </footer>

</div>