<div class="explore">
    <div class="explore_content">
        <div class="icon_section">
            <div class="icons_items">
                <img src="../../../assets/icons/twitter.png" alt="" />
                <img title="explore" class="my-[25px]" src="https://img.icons8.com/ios-filled/50/FFFFFF/search--v1.png" />
                <img title="settings" class="my-[25px]" src="https://img.icons8.com/sf-regular/58/FFFFFF/settings.png" />
            </div>
        </div>
    
        <div class="explore_section">
            <app-explore></app-explore>
        </div>
        <div class="login_reg">
            <div class="login_items">
                <div class="details">
                    <h2>New to Twitter?</h2>
                    <p>Sign up now to get your own personalized timeline!</p>
                </div>
                <div class="buttons">
                    <a class="flex justify-between">
                        <p class="pl-[10px]">Sign in as</p>
                        <img src="https://img.icons8.com/fluency/24/null/google-logo.png" />
                    </a>
                    <a class="justify-center"><img src="https://img.icons8.com/material-rounded/24/null/mac-os.png" />
                        Sign up with Apple</a>
                    <a class="justify-center">Create account</a>
                </div>
                <p class="text-[14px]">
                    By signing up, you agree to the <a>Terms of Service</a> and
                    <a>Privacy Policy</a>, including <a>Cookie Use</a>.
                </p>
                <!-- <button (click)="toogle()">Hello</button> -->
            </div>
        </div>
    
        <div class="fixed_bar">
            <div class="item1">
                <h2>Don’t miss what’s happening</h2>
                <p>People on Twitter are the first to know.</p>
            </div>
        
            <div class="item2">
                <a (click)="openDialog()">Log in</a>
                <a>Sign up</a>
            </div>
        </div>
    </div> 
</div>

